*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    color: #111;
    text-rendering: optimizeLegibility;
    font-family: "Roboto",sans-serif;
}



li{
    list-style:none;
    display:inline-block;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}

/* header-section */
.main-nav{
    height:10vh;
}

.video-container{
    width:100%;
    height:90vh;
    overflow:hidden;
}

.video-container video{
    object-fit: cover;
    width:100vw;
    height:90vh;
}

.video-container::after{
    content: "";
    position:absolute;
    top:10vh;
    left:0;
    width:100%;
    height:90vh;
    background-color: #0a3d62;
    opacity: 0.7;
}

.main-nav img{
    height:9vh;
    width:auto;
}

.main-nav-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav-menu a{
    margin:0 45px;
    color:#0a3d62;
    font-size:20px;
}

.nav-menu li{
    margin-top:10px;
}

.nav-menu li::after{
    content: '';
    display:block;
    width:0;
    height:2px;
    background-color: #ff0000;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.nav-menu li:hover::after{
    width:100%;
}

.centered-elements{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction:column;
    z-index:999;
    align-items: center;
}

.centered-elements h1{
    font-size:50px;
    text-transform:uppercase;
    color:#fff;
    font-weight:300;
}

.centered-elements h1 span{
    font-weight: 700;
    color:#0a3d62;
}

.centered-buttons{
    margin-top: 50px;
}

.centered-buttons a{
    font-size: 20px;
    color:#fff;
    padding:15px 40px;
    text-transform: uppercase;
    font-weight:300;
    margin:30px;
    border:2px solid #fff;
    transition: all 0.3s ease;
}

.centered-buttons a:hover{
    background-color: #0a3d62;
    border-radius: 10px;
}

#arrow-down{
    position:absolute;
    left:50%;
    bottom:40px;
    width:26px;
    height:26px;
    text-align:center;
    margin-left: -13px;
    z-index: 9999;
    border:solid #fff;
    border-width:0 3px 3px 0;
    transform: rotate(45deg);
    animation: animatedArrow 2s infinite;
}

@keyframes animatedArrow{
    0%{
        bottom:40px;
    }
    25%{
        bottom:25px;
        border-color:#0a3d62;
    }
    100%{
        bottom:40px;
    }
}

/* About Us Section */
.about-us{
    margin-top: 80px;
    align-items:center;
    display: flex;
}

.about-us img{
    max-width:500px;
}

.about-container{
    margin:0 60px;
}

.about-container h2{
    font-size: 35px;
    margin-bottom: 30px;
    color:#0a3d62;
    display:block;
}

.about-container h2::after{
    content: "";
    display: block;
    width:70px;
    height:2px;
    background-color: #ff0000;
    margin-top: 10px;
}

.about-container p{
    line-height: 1.7;
    width:80%;
}

.quote-section{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:80px;
    background: linear-gradient(rgba(10,61,98,0.8),rgba(0,0,0,1)), url(../images/img2.jpg);
}

.quote-section p{
    padding:100px 0;
    color:#fff;
    font-size: 25px;
    font-style:italic;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Activities */
.activities{
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    margin:120px 0;
    flex-wrap: wrap;
}

.activity-container{
    width:21%;
}

.image-container{
    width:100%;
    position: relative;
}

.image-container img{
    width:100%;
}

.image-container .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    visibility: hidden;
    justify-content: center;
    display:flex;
    color:#fff;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    cursor: pointer;
    transition:all 0.3s ease-in-out;
}

.image-container:hover .overlay{
    visibility: visible;
    background-color: rgba(10,61,98,0.94)
}

.activities h3{
    margin:20px 0;
    font-size:25px;
    letter-spacing: 1px;
    padding-left: 10px;
    border-left:4px solid #ff0000;
    color:#0a3d62;
}

/* Gallery */
.gallery-section{
    display: flex;
    margin-bottom:120px;
    flex-wrap: wrap;
    width:100%;
}

.gallery-section div{
    overflow: hidden;
    cursor: pointer;
    background-color: #0a3d62;
    flex:1 0 25%;
}

.gallery-section img{
    height:100%;
    width:100%;
    opacity: 0.4;
    transition:all 0.3s ease;
}

.gallery-section img:hover{
    opacity:1;
    transform:scale(1.2);
}